.scroll-text {
  --enter-animation: flipEnter;
  --exit-animation: flipExit;
}
@keyframes flipEnter {
  from {
    transform: rotateX(-90deg) translateY(-30px);
    opacity: 0;
  }
  to {
    transform: rotateX(0deg) translateY(0px);
    opacity: 1;
  }
}

@keyframes flipExit {
  from {
    transform: rotateX(0deg) translateY(0px);
  }
  to {
    transform: rotateX(90deg) translateY(30px);
    opacity: 0;
  }
}
