.wrapper {
  position: relative;
}

.animationin{
  --enter-animation: scrollin;
}

.animationout {
  --exit-animation: scrollout;
}
.text {
  width: 100%;
  white-space: nowrap;
}
.enter {
  animation: var(--duration) ease forwards;
  animation-name: var(--enter-animation);
}
.exit {
  position: absolute;
  top: 0;
  width: 100%;
  animation: var(--duration) ease forwards;
  animation-name: var(--exit-animation);
}
@keyframes scrollin {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scrollout {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
