.scroll-wrapper {
  position: relative;
}
.scroll-text {
  width: 100%;
  white-space: nowrap;
}
.scroll-text.enter {
  animation: var(--duration) ease forwards;
  animation-name: var(--enter-animation, scrollin);
}
.scroll-text.exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: var(--duration) ease forwards;
  animation-name: var(--exit-animation, scrollout);
}
@keyframes scrollin {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scrollout {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
