@keyframes in {
    from {
        opacity: 0;
        filter: blur(20px);
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }
}

@keyframes out {
    from {
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }

    to {
        opacity: 0;
        filter: blur(20px);
        transform: scale(1.2);
    }
}