@keyframes in {
    0% {
        opacity: 0;
        transform: translateX(-20px);
        clip-path: inset(50% 0 30% 0);
    }

    20% {
        opacity: 1;
        transform: translateX(10px);
        clip-path: inset(10% 0 60% 0);
    }

    40% {
        transform: translateX(-5px);
        clip-path: inset(40% 0 40% 0);
    }

    60% {
        transform: translateX(5px);
        clip-path: inset(80% 0 5% 0);
    }

    80% {
        transform: translateX(-2px);
        clip-path: inset(10% 0 80% 0);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        clip-path: inset(0 0 0 0);
    }
}

@keyframes out {
    0% {
        opacity: 1;
        transform: translateX(0);
        clip-path: inset(0 0 0 0);
    }

    20% {
        transform: translateX(-5px);
        clip-path: inset(20% 0 50% 0);
    }

    40% {
        transform: translateX(10px);
        clip-path: inset(60% 0 10% 0);
    }

    60% {
        transform: translateX(-10px);
        clip-path: inset(30% 0 60% 0);
    }

    80% {
        opacity: 1;
        transform: translateX(5px);
        clip-path: inset(80% 0 5% 0);
    }

    100% {
        opacity: 0;
        transform: translateX(-20px);
        clip-path: inset(10% 0 80% 0);
    }
}