@keyframes in {
  from {
    scale: 1.2;
  }
  to {
    transform: translateY(0);
    scale: 1;
  }
}

@keyframes out {
  from {
    transform: translateY(0);
    scale: 1;
  }
  to {
    scale: 0.5;
    opacity: 0;
  }
}
