@keyframes in {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes out {
    0% {
        opacity: 1;
    }

    20% {
        transform: scale3d(0.9, 0.9, 0.9);
        opacity: 0.8;
    }

    50%,
    55% {
        opacity: 0;
        transform: scale3d(1.1, 1.1, 1.1);
    }

    100% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
}